<div class="mainContainer">
  <div class="header">
    Siemens Assignment
  </div>
  <div class="listSection">
    <div class="listAsection">

      <ul class="list">
        <li class="title"><span>List A</span></li>
        <li *ngFor="let item of listA;let i = index" id="listA{{i}}" [attr.data-index]="i"
          (click)="selectList('listA'+i)">{{item}}</li>
      </ul>
    </div>
    <div class="actionSection notSmallScreen">
      <button class="actionButton" type="button" (click)="moveToB()">Move To B</button>
      <button class="actionButton" type="button" (click)="moveToA()">Move To A</button>
      <button class="actionButton" type="button" (click)="addItem()">Add</button>
      <button class="actionButton" type="button" (click)="deleteAlert()">Delete</button>
    </div>
    <div class="actionSection smallScreen">
      <button class="actionButton" type="button" (click)="moveToB()"><i class="fa fa-long-arrow-right"></i></button>
      <button class="actionButton" type="button" (click)="moveToA()"><i class="fa fa-long-arrow-left"></i></button>
      <button class="actionButton" type="button" (click)="addItem()"><i class="fa fa-plus"
          aria-hidden="true"></i></button>
      <button class="actionButton" type="button" (click)="deleteAlert()"><i class="fa fa-trash"></i></button>
    </div>
    <div class="listBsection">
      <ul class="list" *ngIf="listB.length == 0">
        <li class="title"><span>List B</span></li>
      </ul>
      <ul class="list" *ngIf="listB.length != 0">
        <li class="title"><span>List B</span></li>
        <li *ngFor="let item of listB;let i = index" id="listB{{i}}" [attr.data-index]="i"
          (click)="selectList('listB'+i)">{{item}}</li>
      </ul>
    </div>
  </div>
  <div class="alertContainer">

    <div *ngIf="showAlert" class="alertBox commonAlert" [class]="deleteButton == true?'deleteAlert': '' ">
      <div class="alertTitle">
        <span>Alert Box</span>
        <span><i class="fa fa-times" (click)="close('common')"></i></span>
      </div>

      <div class="messageText">{{message}}</div>

      <div *ngIf="deleteButton" class="buttonAction">
        <button type="button" class="actionButton" (click)="deleteFromList()">Ok</button>
        <button type="button" class="actionButton" (click)="close('common')">Cancel</button>
      </div>
    </div>

    <div *ngIf="addItemSection" class="alertBox addItemAlert">
      <div class="alertTitle">
        <span>Add Value </span>
        <span><i class="fa fa-times" (click)="close('add')"></i></span>
      </div>
      <div class="messageText">Fill the mentioned details :</div>
      <div class="addItemSection">
        <div>
          <label>Select List:</label>
          <select id="listSelection">
            <option value="-1" selected>Select list</option>
            <option value="listA">List A</option>
            <option value="listB">List B</option>
            <option value="Both">Both</option>
          </select>
        </div>

        <div>
          <label>Superhero Name:</label>
          <input type="text" id="heroName" placeholder="superhero..." />
        </div>

        <div class="buttonAction">
          <button type="button" class="actionButton" (click)="addToList()">Ok</button>
          <button type="button" class="actionButton" (click)="close('add')">Cancel</button>
        </div>

      </div>
    </div>
  </div>
</div>